<div class="card">
    <div class="body">
    <h2 id="page-heading">
        <span>Company Masters</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-company-master" [routerLink]="['/company-master/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down">
            Create a new Company Master
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="companyMasters?.length === 0">
        <span>No companyMasters found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="companyMasters && companyMasters.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="companyName"><span>Company Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="address"><span>Address</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="countryMasterCountryName"><span>Country</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="stateMasterStateName"><span>State</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="cityMasterCityName"><span>City</span> <fa-icon icon="sort"></fa-icon></th>

                    <th scope="col"  jhiSortBy="pinCode"><span>Pin Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="mdName"><span>Md Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="mdContactNo"><span>Md Contact No</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="mdEmailId"><span>Md Email Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="panNumber"><span>Pan Number</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="webSiteUrl"><span>Web Site Url</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tinNumber"><span>Tin Number</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="gstNumber"><span>Gst Number</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let companyMaster of companyMasters ;trackBy: trackId">
                    <td><a [routerLink]="['/company-master', companyMaster.id, 'view']">{{ companyMaster.id }}</a></td>
                    <td>{{ companyMaster.companyName }}</td>
                    <td>{{ companyMaster.address }}</td>
                    <td>
                        <div *ngIf="companyMaster.stateMasterId">
                            <a [routerLink]="['/state-master', companyMaster.stateMasterId , 'view']" >{{ companyMaster.stateMasterStateName }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="companyMaster.countryMasterId">
                            <a [routerLink]="['/country-master', companyMaster.countryMasterId , 'view']" >{{ companyMaster.countryMasterCountryName }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="companyMaster.cityMasterId">
                            <a [routerLink]="['/city-master', companyMaster.cityMasterId , 'view']" >{{ companyMaster.cityMasterCityName }}</a>
                        </div>
                    </td>
                    <td>{{ companyMaster.pinCode }}</td>
                    <td>{{ companyMaster.mdName }}</td>
                    <td>{{ companyMaster.mdContactNo }}</td>
                    <td>{{ companyMaster.mdEmailId }}</td>
                    <td>{{ companyMaster.panNumber }}</td>
                    <td>{{ companyMaster.webSiteUrl }}</td>
                    <td>{{ companyMaster.tinNumber }}</td>
                    <td>{{ companyMaster.gstNumber }}</td>
                   
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/company-master', companyMaster.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/company-master', companyMaster.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(companyMaster)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="companyMasters && companyMasters.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
    </div>
</div>
