<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="stateMaster">
            <h2><span>State Master</span> {{ stateMaster.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Code</span></dt>
                <dd>
                    <span>{{ stateMaster.code }}</span>
                </dd>
                <dt><span>State Name</span></dt>
                <dd>
                    <span>{{ stateMaster.stateName }}</span>
                </dd>
                <dt><span>Country Master</span></dt>
                <dd>
                    <div *ngIf="stateMaster.countryMasterId">
                        <a [routerLink]="['/country-master', stateMaster.countryMasterId, 'view']">{{ stateMaster.countryMasterId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/state-master', stateMaster.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
