<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-state-master-heading">Create or edit a State Master</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                           formControlName="code"/>
                    <div *ngIf="editForm.get('code')!.invalid && (editForm.get('code')!.dirty || editForm.get('code')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('code')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('code')?.errors?.minlength">
                        This field is required to be at least 2 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('code')?.errors?.maxlength">
                        This field cannot be longer than 5 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_stateName">State Name</label>
                    <input type="text" class="form-control" name="stateName" id="field_stateName"
                           formControlName="stateName"/>
                    <div *ngIf="editForm.get('stateName')!.invalid && (editForm.get('stateName')!.dirty || editForm.get('stateName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('stateName')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('stateName')?.errors?.minlength">
                        This field is required to be at least 2 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('stateName')?.errors?.maxlength">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_countryMaster">Country Master</label>
                    <select class="form-control" id="field_countryMaster" name="countryMaster" formControlName="countryMasterId">
                        <option *ngIf="!editForm.get('countryMasterId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="countryMasterOption.id" *ngFor="let countryMasterOption of countrymasters; trackBy: trackById">{{ countryMasterOption.countryName }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('countryMasterId')!.invalid && (editForm.get('countryMasterId')!.dirty || editForm.get('countryMasterId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('countryMasterId')?.errors?.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
