<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="networkMaster">
            <h2><span>Network Master</span> {{ networkMaster.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Network Code</span></dt>
                <dd>
                    <span>{{ networkMaster.networkCode }}</span>
                </dd>
                <dt><span>Network Name</span></dt>
                <dd>
                    <span>{{ networkMaster.networkName }}</span>
                </dd>
                <dt><span>Contact Person</span></dt>
                <dd>
                    <span>{{ networkMaster.contactPerson }}</span>
                </dd>
                <dt><span>Contact Number</span></dt>
                <dd>
                    <span>{{ networkMaster.contactNumber }}</span>
                </dd>
                <dt><span>Address</span></dt>
                <dd>
                    <span>{{ networkMaster.address }}</span>
                </dd>
                <dt><span>Website</span></dt>
                <dd>
                    <span>{{ networkMaster.website }}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{ networkMaster.email }}</span>
                </dd>
                <dt><span>City Master</span></dt>
                <dd>
                    <div *ngIf="networkMaster.cityMasterId">
                        <a [routerLink]="['/city-master', networkMaster.cityMasterId, 'view']">{{ networkMaster.cityMasterCityName }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/network-master', networkMaster.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
